* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;

  padding: 5px 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* styling inputs */
[type="text"]:active,
[type="text"]:focus,
[type="password"]:active,
[type="password"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

/* styling buttons */
[type="text"],
[type="password"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 2px 0.2rem;
}

#list-input {
  width: 200px;
}

h1 {
  padding: 0px 5px 0px 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.all-list-container {
  margin-top: 5px;
  height: 100%;
}

.done {
  text-decoration: line-through;
}

.list-container {
  height: 100%;
}

.all-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
