* {
  box-sizing: border-box;
}
/* making the body the full size of the screen hight */
html,
body {
  height: 100%;
  margin: 0;
}
/* Root */
:root {
  /* Color for Input */
  --cfi: #272727;
  /* Color for Input Container Background */
  --cficb: rgba(241, 243, 244, 0.24);
}
/* making the main grid layout */
#wrapperAll {
  height: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: minmax(100px, 450px) minmax(350px, 1fr);
  grid-template-rows: minmax(40px, 50px) minmax(400px, 1fr);
  grid-template-areas:
    "header header"
    "navigation mainPanel";
  background-color: #202124;
  color: #e8eaed;
}
#header {
  grid-area: header;
}
#navigation {
  grid-area: navigation;
}
#mainPanel {
  grid-area: mainPanel;
}
/* Set the Header contents position */
#header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 25%;
}
/* Setting up the inputs and containers */
i {
  color: var(--cfi);
}
input {
  background-color: transparent;
  color: var(--cfi);
  font-weight: 600;
  border: none;
  white-space: nowrap;
}
.inputContainer {
  display: flex;
  background-color: var(--cficb);
  padding: 5px;
  border-radius: 10px;
  max-width: 500px;
  min-width: 300px;
  height: 40px;
  gap: 8px;
  align-items: center;
}
#searchBar {
  flex: 0 1 600px;
}
#inputSearch {
  flex: 1 1;
}


/* media queries for screens with 700px or less */
@media only screen and (max-width: 600px) {
  #wrapperAll {
    grid-template-columns: minmax(50px, 150px) minmax(250px, 1fr);
  }
  #header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #tradeMark {
    display: none;
  }
  #searchBar {
    display: flex;
  }
  .inputContainer {
    max-width: 400px;
  }
}
/* media queries for screens with at least 1100px of width */
@media only screen and (min-width: 1100px) {
.inputContainer {
  max-width: 700px;
}
}